[OSEv3:children]
masters
nodes
etcd
nfs

[OSEv3:vars]
ansible_ssh_user=root
openshift_deployment_type=origin
deployment_type=origin
openshift_release=3.11
openshift_image_tag=v3.11.0

openshift_web_console_extension_script_urls=["https://xhua-static.sh1a.qingstor.com/allinone/allinone-webconsole.js"]
openshift_web_console_extension_stylesheet_urls=["https://xhua-static.sh1a.qingstor.com/allinone/allinone-webconsole.css"]

{% if Change_Base_Registry == true %}
oreg_url={{ Harbor_Url }}/openshift/origin-${component}:${version}
system_images_registry={{ Harbor_Url }}
openshift_examples_modify_imagestreams=true
openshift_docker_additional_registries={{ Harbor_Url }}
openshift_service_catalog_image_prefix={{ Harbor_Url }}/openshift/origin-
openshift_metrics_image_prefix={{ Harbor_Url }}/openshift/origin-
openshift_logging_image_prefix={{ Harbor_Url }}/openshift/origin-
ansible_service_broker_image_prefix={{ Harbor_Url }}/openshift/origin-
ansible_service_broker_etcd_image_prefix={{ Harbor_Url }}/openshift/origin-
{% endif %}


{% if FULL_INSTALL == true %}
openshift_metrics_install_metrics=true
openshift_metrics_image_version=v3.11.0
openshift_hosted_metrics_public_url=https://hawkular-metrics.apps.{{ HOSTNAME }}/hawkular/metrics
openshift_logging_install_logging=true
openshift_logging_image_version=v3.11.0
openshift_logging_es_memory_limit='2Gi'
{% else %}
openshift_logging_install_logging=false
openshift_monitoring_deploy=false
openshift_cluster_monitoring_operator_install=false
{% endif %}

{% if SAMPLE_TEMPLATES == false %}
openshift_install_examples=false
{% endif %}

openshift_enable_service_catalog=false
template_service_broker_install=false

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
openshift_master_htpasswd_file=/tmp/htpasswd
openshift_docker_options="-l warn --ipv6=false --insecure-registry=0.0.0.0/0 --registry-mirror=https://r03u9tep.mirror.aliyuncs.com  --log-opt max-size=1M --log-opt max-file=3 --live-restore=true"
openshift_disable_check=memory_availability,disk_availability,package_availability,package_update,docker_image_availability,docker_storage_driver,docker_storage
openshift_master_default_subdomain=apps.{{ HOSTNAME }}
openshift_logging_es_ops_nodeselector={"node-role.kubernetes.io/infra":"true"}
openshift_logging_es_nodeselector={"node-role.kubernetes.io/infra":"true"}
openshift_node_groups=[{'name': 'node-config-all-in-one', 'labels': ['node-role.kubernetes.io/master=true', 'node-role.kubernetes.io/infra=true', 'node-role.kubernetes.io/compute=true']}]


openshift_hosted_registry_storage_kind=nfs
openshift_hosted_registry_storage_access_modes=['ReadWriteMany']
openshift_hosted_registry_storage_nfs_directory=/exports
openshift_hosted_registry_storage_nfs_options='*(rw,root_squash)'
openshift_hosted_registry_storage_volume_name=registry
openshift_hosted_registry_storage_volume_size=10Gi

openshift_nfs_share_directory=/exports/pv-share

[masters]
{{ HOSTNAME }}
[etcd]
{{ HOSTNAME }}

[nfs]
{{ HOSTNAME }}

[nodes]
{{ HOSTNAME }} openshift_node_group_name="node-config-all-in-one"
